@import 'variables/colors';
@import 'variables/mixins';

.header {
  background-color: $night-rider;
  color: $white;
  height: 44px;
  line-height: 44px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

  .mainElement {
    font-size: 17px;
    @include font-weight(semi-bold);
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  .headerLfBtn {
    line-height: 13px;
    min-width: 50px;
    cursor: pointer;
    text-align: left;
    margin-left: 8px;
    float: left;
    display: flex;
    z-index: 1;
    .label {
      margin: auto 0 auto 10px;
    }
    .icon {
      margin: auto auto auto 0;
    }
  }

  .headerRtBtn {
    line-height: 13px;
    min-width: 50px;
    cursor: pointer;
    text-align: right;
    margin-right: 8px;
    float: right;
    display: flex;
    z-index: 1;
    .label {
      margin: auto 10px auto 0;
    }
    .icon {
      margin: auto 0 auto auto;
    }
  }
}

.container {
  height: 100%;
}

@keyframes leaveToRight {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

.leaveToRight {
  position: absolute;
  animation: leaveToRight 0.3s linear forwards;
  z-index: 1;
}

@keyframes leaveToLeft {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

.leaveToLeft {
  position: absolute;
  animation: leaveToLeft 0.3s linear forwards;
  z-index: 1;
}

@keyframes enterFromLeft {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.enterFromLeft {
  position: absolute;
  animation: enterFromLeft 0.3s linear forwards;
}

@keyframes enterFromRight {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.enterFromRight {
  position: absolute;
  animation: enterFromRight 0.3s linear forwards;
}

// HEADER TRANSITION
@keyframes headerLeaveToRight {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: 30%;
    opacity: 0;
  }
}

.headerLeaveToRight {
  text-align: center;
  position: absolute;
  width: 100%;
  animation: headerLeaveToRight 0.3s linear forwards;
  z-index: 1;
}

@keyframes headerLeaveToLeft {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -30%;
    opacity: 0;
  }
}

.headerLeaveToLeft {
  text-align: center;
  width: 100%;
  position: absolute;
  animation: headerLeaveToLeft 0.3s linear forwards;
  z-index: 1;
}

@keyframes headerEnterFromLeft {
  from {
    opacity: 0;
    left: -30%;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

.headerEnterFromLeft {
  text-align: center;
  width: 100%;
  position: absolute;
  animation: headerEnterFromLeft 0.3s linear forwards;
}

@keyframes headerEnterFromRight {
  from {
    opacity: 0;
    left: 30%;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

.headerEnterFromRight {
  text-align: center;
  width: 100%;
  position: absolute;
  animation: headerEnterFromRight 0.3s linear forwards;
}

// HEADER LABEL TRANSITION
@keyframes headerLabel {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.headerLabel {
  animation: headerLabel 0.3s linear forwards;
}
